//  breakpoints
$dt-breakpoint: 1110px;
$tb-breakpoint: 792px;


//  content width
 $desktop: 1110px;
 $tablet: 792px;
 $mobile: 768px;


// font colors
 $grey: rgb(51, 51, 51);
 $palegrey: rgb(130, 130, 130);
 $black: #000;
 $white: #fff;



//  colors
$highlight: rgb(241, 60, 110);
$gray-bg : #efefef;





