.container {
    .content {
        width: map-get($content-widths,desktop-lg);
        margin: 0 auto;
        @media (max-width:map-get($breakpoints,desktop)) {
            width: map-get($content-widths,desktop);
        }
        @media (max-width:map-get($breakpoints,tablet-lg)) {
            width: map-get($content-widths,tablet-lg);
        }
        @media (max-width:map-get($breakpoints,tablet)) {
            width: map-get($content-widths,tablet);
        }
        @media (max-width:map-get($breakpoints,mobile)) {
            width: map-get($content-widths,mobile);
        }
    }
}