$breakpoints: (

    mobile: 576px,
    tablet: 768px,
    tablet-lg: 992px,
    desktop: 1200px,
    desktop-lg: 1400px
);
$content-widths: (
    mobile: 315px,
    tablet: 648px,
    tablet-lg: 904px,
    desktop: 1320px,
    desktop-lg: 1600px
);
