body {
    @include text;

    color: black;

}

.header-background {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    color: white;
    position: relative;
    margin-bottom: 20px;

    &::before{
        content: "";
        width: calc(100% - 40px);
        position: absolute;
        top: 100%;
        height: 10px;
        display: block;
        justify-self: center;
        background-color: rgba(202, 202, 219, 1);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    &::after{
        content: "";
        width: calc(100% - 80px);
        position: absolute;
        top: calc(100% + 10px);
        height: 10px;
        display: block;
        justify-self: center;
        background-color: rgba(231, 231, 242, 1);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}



.hero__anchor {
    display: inline-block;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);

}

.container{ @media (max-width:map-get($breakpoints,mobile)) {
    padding-left: 30px;
padding-right: 30px;
}}

.wide-block{
    margin: {
        top: 50px;
        bottom: 50px;
    };
    .content{
        background-color: aqua;
    }
}
