.publications__title {
  margin: 60px auto;
  width: map-get($content-widths, desktop-lg);


  @media (max-width: map-get($breakpoints, desktop)) {
    width: map-get($content-widths, desktop);
  }

  @media (max-width: map-get($breakpoints, tablet-lg)) {
    width: map-get($content-widths, tablet-lg);
  }

  @media (max-width: map-get($breakpoints, tablet)) {
    width: map-get($content-widths, tablet);
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    width: map-get($content-widths, mobile);
    padding-left: 20px;
    padding-right: 20px;
  }

  .publications__name {
    color: #24A3FF;
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;

    &:after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-top: 2px solid rgba(36, 163, 255, 1);
      border-right: 2px solid rgba(36, 163, 255, 1);
      transform: rotate(45deg);
      margin-left: 2px;
      margin-top: -2px;
    }

  }

  .publication__description {
    h2 {
      margin-top: 10px;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 38px;
      width: max-content;
      padding-top: 5px;
      padding-bottom: 10px;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }


  .content {
    display: flex !important;
    grid-template-columns: none !important;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: map-get($breakpoints, mobile)) {
      gap: 20px;
    }
  }
}

.publication__card_item {
  background-color: #ffffff;
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;


  @media (max-width: map-get($breakpoints, tablet)) {
    width: calc(50% - 15px);

    &:nth-child(3) {
      width: 100%;
    }
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    width: 100% !important;
  }

  .publication__card_img {
    height: 200px;
    overflow: hidden;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-item__body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .card-item__title {
    color: #24A3FF;
    font-weight: 700;
    font-size: 16px;

    @media (min-width: calc(map-get($breakpoints, tablet) + 1px)) {
      min-height: 44px;
    }
  }

  .card-item__date {
    color: #B3B3BA;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  .card-item__text {
    color: $black;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-top: 15px;
    border-top: 4px solid #e6e6f0;
    flex-grow: 1;
  }
}