.ch1:hover {
    fill: orange !important;
    transform: scale(0.9);
    transform-origin: center;
}

.ch2:hover {

     rx: 50%;
    ry: 50%;
    fill:  orange;
    }


.ch3:hover {

    rx: 50%;
    ry: 50%;
    fill: #ff0000 !important;
}

.ch4:hover {

    rx: 0;
    ry: 0;
    fill: brown;
  
}